/* palheta de cores: 
#295872
#357599
#4292bf
#67a8cd
#8dbeda
 */
*{
    margin: 0;
    padding: 0;
    color: #295872;
}



body{
    font-family: sans-serif;
    font-size: 20px;
    height: 100vh;
}
/* teste */
.cabecalho{
    background: linear-gradient(to top, #8dbeda, #357599);
    text-align: center;
    border-bottom: 3px solid #fff;

}
 .menu{
    height: 600px;
    background: linear-gradient(to bottom, #8dbeda, #357599);
 }


 /* h1{
    background-color: black;
 } */

.titulo{
    padding: 20px;
    font-size: 40px;
    color: white;
    /* background-color: rgb(255, 0, 0); */
}

/* #tituloprincipal{
    background-color: #00ff00;
} */



.paragrafo{
    text-align: justify;
    font-size: 20px;
    margin: 0px 20px 0px 20px;
}

.caixa{
    text-align: center;
    padding: 50px;
}
#game-img{
    margin-top: 20px;
    width: 700px;
    transition: transform 1s;
    box-shadow: 10px 10px 10px rgba(33, 32, 32, 0.531);
}

.rodape{
    text-align: center;
    border-top: 3px solid #fff;
    height: 100px;
    background: linear-gradient(to bottom, #8dbeda, #357599);
}
