/* palheta de cores: 
#295872
#357599
#4292bf
#67a8cd
#8dbeda
 */
*{
    margin: 0;
    padding: 0;
    color: #295872;
}


body{
    font-family: sans-serif;
    font-size: 20px;
}

.cabecalho{
    background: linear-gradient(to top, #8dbeda, #357599);
    text-align: center;
}
 .menu{
    background: linear-gradient(to bottom, #8dbeda, #357599);
 }

.titulo{
    padding: 20px;
    font-size: 40px;
    color: white;
}

.paragrafo{
    font-size: 20px;
}


#game-img{
    width: 400px;
}

#game-img:hover{
    animation-duration: 1s;
    width: 500px;
    rotate: 10px;
}