/* palheta de cores: 
#295872
#357599
#4292bf
#67a8cd
#8dbeda
 */

body{
    font-family: sans-serif;
}

.cabecalho{
    background: linear-gradient(to top, #67a8cd, #357599);
}
 .menu{
    background: linear-gradient(to bottom, #67a8cd, #357599);
 }

.titulo{
    font-size: 40px;
}

.paragrafo{
    font-size: 20px;
}


#game-img{
    width: 400px;
}